html {
    font-size: 10px;
    font-family: 'Actor';
    background-color: #7fa5f8;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    font-size: 60px;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    font-family: 'Duru Sans';
    font-size: 22px; 
    color: rgb(71, 71, 74);
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  
  html {
    text-align: center;

  }
  
  body {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    background-image: url(images/forest-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 20px 20px 20px;
  }

  .nav-link {
    top: 0;
    right: 0;
    font-size: 23px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    display: inline;
    font-family: 'Duru Sans';
    color: rgb(71, 71, 74);
     
  }

  #nav-bar {
  float: right;
   
  }
  
  img {
    display: block;
    margin: 0 auto;
  }